<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="contract">
            <h2><span>Contract</span> {{contract.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Customer Name</span></dt>
                <dd>
                    <span>{{contract.customerName}}</span>
                </dd>
                <dt><span>Customer Age</span></dt>
                <dd>
                    <span>{{contract.customerAge}}</span>
                </dd>
                <dt><span>Customer Doc Id</span></dt>
                <dd>
                    <span>{{contract.customerDocId}}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <div *ngIf="contract.content">
                        <a (click)="openFile(contract.contentContentType, contract.content)">open</a>
                        {{contract.contentContentType}}, {{byteSize(contract.content)}}
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/contract', contract.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
