<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-contract-heading">Create or edit a Contract</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!contract.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="contract.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customerName">Customer Name</label>
                    <input type="text" class="form-control" name="customerName" id="field_customerName"
                        [(ngModel)]="contract.customerName" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customerAge">Customer Age</label>
                    <input type="number" class="form-control" name="customerAge" id="field_customerAge"
                        [(ngModel)]="contract.customerAge" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_customerDocId">Customer Doc Id</label>
                    <input type="text" class="form-control" name="customerDocId" id="field_customerDocId"
                        [(ngModel)]="contract.customerDocId" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_content">Content</label>
                    <div>
                        <div *ngIf="contract.content" class="form-text text-danger clearfix">
                            <a class="pull-left" (click)="openFile(contract.contentContentType, contract.content)">open</a><br>
                            <span class="pull-left">{{contract.contentContentType}}, {{byteSize(contract.content)}}</span>
                            <button type="button" (click)="contract.content=null;contract.contentContentType=null;"
                                    class="btn btn-secondary btn-xs pull-right">
                                <fa-icon [icon]="'times'"></fa-icon>
                            </button>
                        </div>
                        <input type="file" id="file_content" (change)="setFileData($event, contract, 'content', false)"/>
                    </div>
                    <input type="hidden" class="form-control" name="content" id="field_content"
                        [(ngModel)]="contract.content" />
                    <input type="hidden" class="form-control" name="contentContentType" id="field_contentContentType"
                        [(ngModel)]="contract.contentContentType" />
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
