<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{product.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Product Type</span></dt>
                <dd>
                    <span>{{product.productType}}</span>
                </dd>
                <dt><span>Commitment</span></dt>
                <dd>
                    <span>{{product.commitment}}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{product.price}}</span>
                </dd>
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{product.name}}</span>
                </dd>
                <dt><span>Device</span></dt>
                <dd>
                    <span>{{product.device}}</span>
                </dd>
                <dt><span>Service Id</span></dt>
                <dd>
                    <span>{{product.serviceId}}</span>
                </dd>
                <dt><span>Contract</span></dt>
                <dd>
                    <div *ngIf="product.contractId">
                        <a [routerLink]="['/contract', product.contractId, 'view']">{{product.contractId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
